/* General CSS, Header, and Footer */
html {
    font-family: 'Bitter', serif;
    font-weight: bold;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin: 0 auto;
    padding: 0;
    color: #FFFFFF;
    background-color: #1A1B25;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}


header {
    min-width: 100%;
    display: flex;
    background-color: #3C6E71;
    align-items: center;
    justify-content: space-between;
}
header h2 {
    font-size: 2em;
    margin-left: 1em;
    color: #FFFFFF;
    white-space: nowrap;
}
header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: .33 .1;
}
header li {
    display: inline-flex;
    margin: .25em;
    height: 100%;
}
header a {
    color: #FFFFFF;
    font-size: 1.5em;
    white-space: nowrap;
    transition: color .5s ease-in-out;
}
header a:visited {
    color: #FFFFFF;
}
header a:hover {
    color: #1A1B25;
}


footer {
    min-width: 100%;
    background-color: #392061;
    color: #FFFFFF;
    display: flex;
    align-items: baseline;
    justify-content: right;
    position: fixed;
    bottom: 0;
}
footer h3 {
    margin-right: .25em;
    font-size: 1.5em;
}
.footer-link {
    margin-right: 2em;
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
    font-weight: bold;
    transition: color .5s ease-in-out;
}
.footer-link:hover {
    color: #941B0C;
}


/* Main Page */
/* About Me */
.about-me-container {
    width: 100%;
    position: relative;
    background-color: #1A1B25
}
.about-me {
    margin-inline: 2em;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.about-me-p {
    font-size: 1.25em;
    flex-basis: 50%;
}
#Zach-1 {
    max-width: 25em;
    width: 40%;
    height: 30%;
    border: .5em solid #3C6E71;
    border-radius: .25em;
    margin-right: 4em;
}
/* Skills */
.skills-container {
    position: relative;
    width: 100%;
    background-color: #3A3C52;
    z-index: -1;
    margin-top: 2em;
    padding-block: 6em;
}
.wave-1 {
    margin-top: -5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 104px;
    transform: rotateY(180deg);
}

.wave-1 .shape-fill {
    fill: #1A1B25;
}
.wave-2 {
    margin-bottom: -5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-2 svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 144px;
}

.wave-2 .shape-fill {
    fill: #0F1016;
}
.skills {
    position: relative;
    width: 75%;
    margin-inline: 2em;
    margin-bottom: 7.5em;
    z-index: 2;
}
.skills ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2em;
    column-gap: 5em;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}
.skills li {
    list-style: none;
    white-space: nowrap;
}
.skills i {
    color: #3C6E71;
}
.fa-html5:before {
    content: "\f13b";
}
.fa-css3-alt:before {
    content: "\f38b";
}
.fa-square-js:before {
    content: "\f3b9";
}
.fa-react:before {
    content: "\f41b";
}
.fa-markdown:before {
    content: "\f60f";
}
.fa-fire:before {
    content: "\f06d";
}
.fa-java:before {
    content: "\f4e4";
}
.fa-python:before {
    content: "\f3e2";
}
/* Resume */
.resume-container {
    width: 100%;
    background-color: #0F1016;
    padding-top: 2em;
    padding-bottom: 5em;
    position: relative;
}
.resume {
    margin-bottom: 7.5em;
    margin-left: 2em;
}
.resume-file {
    margin-left: 12.5%;
    margin-right: auto;
}

/* Moving Logo */
#logo {
    position: absolute;
    width: 4em;
    height: 4em;
}

/* Projects Page */
.header {
    margin-left: 2em;
    margin-top: 4em;
}
.project-grid {
    margin-bottom: 20em;
    margin-left: 6em;
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5%;
    column-gap: 2%;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}
.project {
    width: 46.875em;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: .5em solid #3C6E71;
    border-radius: 5%;
    color: #1A1B25;
    transition: height .75s ease-out;
}
.hidden-p {
    display: none;
}
.hidden-img {
    width: 95%;
    height: 0em;
    transition: height 1s ease-in-out;
}
.project:hover {
    height: 35em;
}
.project:hover .hidden-img{
    height: 20em;
}
.project:hover .hidden-p{
    display: block;
}


/* Contact Me Page */
.contacts-html {
    background: url("img/Zach-2.jpg");
    background-repeat: no-repeat;
    background-position: top;
}
.contacts-body {
    background-color: transparent;
}
.contacts-div {
    width: 50%;
    color: #1A1B25;
    background-color: #FFFFFF;
    border: 1em solid #392061;
    border-radius: 2em;
    margin-top: 3em;
    margin-left: 2em;
}
.contacts-body h1,p {
    margin-inline: 1em;
}
.contacts {
    width: 100%;
}
.contacts ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 1em;
}
.contacts li {
    list-style: none;
    flex: .5 1;
    white-space: nowrap;
}
.contacts a{
    color: #1A1B25;
    transition: color .75s ease-in-out;
}
.contacts a:hover {
    color: #941B0C;
}
i {
    font-style: normal;
    font-size: 3em;
}
.icon {
    font-family: "Font Awesome 5 Brands";
}
.icon-other {
    font-family: "Font Awesome 5 Free";
}
.fa-linkedin:before {
    content: "\f08c";
}
.fa-github::before {
    content: "\f09b"
}
.fa-facebook::before {
    content: "\f09a"
}
.fa-square-envelope::before {
    content: "\f199"
}


/* Phone Screen Media Queries */
@media (max-width: 480px){
    header h2 {
        font-size: 1em;
    }
    header a {
        font-size: .75em;
    }
    /* Main Page */
    /* About Me */
    .about-me {
        flex-direction: column;
        margin-inline: 10px;
        align-items: center;
    }
    #Zach-1 {
        width: 75%;
    }
    /* Skills */
    .skills ul {
        grid-template-columns: 1fr 1fr;
    }
    /* Resume */
    .resume {
        margin-left: 10px;
    }
    .resume-file {
        margin-left: 5px;
        width: 95%;
    }
    /* Projects Page */
    /* Contact Me Page */
}