/* General CSS, Header, and Footer */
html {
    font-family: 'Bitter', serif;
    font-weight: bold;
}
body{
    margin: 0;
    padding: 0;
    color: #1A1B25;
}
h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}


header {
    width: 100%;
    display: flex;
    background-color: #3C6E71;
    align-items: center;
    justify-content: space-between;
}
header h2 {
    font-size: 2em;
    margin-left: 1em;
    color: #FFFFFF;
    white-space: nowrap;
}
header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: .33 .1;
}
header li {
    display: inline-flex;
    margin: .25em;
    height: 100%;
}
header a {
    color: #FFFFFF;
    font-size: 1.5em;
    white-space: nowrap;
    transition: color .5s ease-in-out;
}
header a:visited {
    color: #FFFFFF;
}
header a:hover {
    color: #1A1B25;
}


footer {
    width: 100%;
    background-color: #392061;
    color: #FFFFFF;
    display: flex;
    align-items: baseline;
    justify-content: right;
    position: absolute;
    bottom: 0;
}
footer h3 {
    margin-right: .25em;
    font-size: 1.5em;
}
.footer-link {
    margin-right: 2em;
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
    font-weight: bold;
    transition: color .5s ease-in-out;
}
.footer-link:hover {
    color: #941B0C;
}

/* Main Page */




/* Projects Page */




/* Contact Me Page */
.contacts-html {
    background: url("img/20200806_173425.jpg");
    background-repeat: no-repeat;
    background-position: top;
}
.contacts-body {
    width: 50%;
    background-color: #FFFFFF;
    border: 1em solid #392061;
    border-radius: 2em;
    margin-top: 3em;
    margin-left: 2em;
}
.contacts-body h1,p {
    margin-inline: 1em;
}
.contacts {
    width: 100%;
}
.contacts ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 1em;
}
.contacts li {
    list-style: none;
    flex: .5 1;
    white-space: nowrap;
}
.contacts a{
    color: #1A1B25;
    transition: color .75s ease-in-out;
}
.contacts a:hover {
    color: #941B0C;
}
i {
    font-style: normal;
    font-size: 3em;
}
.icon {
    font-family: "Font Awesome 5 Brands";
}
.icon-other {
    font-family: "Font Awesome 5 Free";
}
.fa-linkedin:before {
    content: "\f08c";
}
.fa-github::before {
    content: "\f09b"
}
.fa-facebook::before {
    content: "\f09a"
}
.fa-square-envelope::before {
    content: "\f199"
}
